:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--slate: #434455;
	--cloud: #f4f4fd;
	--white: #fff;
	--cornflower: #e7e9fc;
	--light-slate: #8e8f99;
	--grey: rgba(46, 47, 66, 0.7);
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--dairy: #fcfcfc;
	--font-family: 'Roboto', sans-serif;
	--second-family: 'Raleway', sans-serif;
}

/* general */
body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
	color: #434455;

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

a {
	text-decoration: none;
}
img {
	width: 100%;
	height: auto;
	display: block;
}

/* header */

.flex-container {
	display: flex;
	align-items: center;
}

.container {
	width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}
@media screen and (min-width:768px) and (max-width:1157px){
	.container{
	width: 768px;

	}
}

.logo,
.second-logo {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 117%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--iris);
}

.icon {
	color: var(--navy-blue);
}
.link::after{
content:'';
background-color: var(--ocean);
width: 100%;
height: 4px;
position: absolute;
bottom: -24px;
left:0;
visibility: hidden;
}

.link:hover::after{
visibility: visible; 
}

.link:hover,
.link:focus{
	color: var(--ocean);
}

.navigation {
	display: flex;
	align-items: center;
	margin-right: auto;
}

.navigation-list {
	display: flex;
	gap: 40px;
	margin: 0 0 0 76px;
	padding: 24px 0;
	position: relative;
	
}

.navigation-list li { 
	position: relative;
}

.navigation-list a {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--navy-blue);
}

.info {
	display: flex;
	gap: 40px;
}

@media screen and (min-width:768px) and (max-width:1157px) {
.info {
	display: flex;
	flex-direction: column;
    gap:12px;
}

}

.info a {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--slate);
	font-style: normal;
}
@media screen and (min-width:768px) and (max-width:1157px) {
.info a {
	font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
 }

}

.mail:hover,
.mail:focus {
	color: var(--ocean);
}

.contact:hover,
.contact:focus,
.mobile-contact:hover,
.mobile-contact:focus  {
	color: var(--ocean);
}

.container-main {
	width: 1158px;
	padding: 10px 10px;
	margin: 0 auto;
}

.flex-container-hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 188px 0;
	gap: 48px;
}

h1 {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 56px;
	line-height: 107%;
	letter-spacing: 0.02em;
	color: var(--white);
	word-wrap: break-word;
	width: 496px;
	text-align: center;
	margin: 0;
}

.hero {
	background-color: var(--navy-blue);
	background-image: linear-gradient(
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)
		),
		url(../images/People-office-bg.jpg);
	max-width: 1440px;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
}

@media screen and (max-width:767px) {
	.hero {
		background-color: var(--navy-blue);
	    background-image: linear-gradient(
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)
		),
		url(../images/Dark-bg@1x.jpg);

	max-width: 320px;
	background-size: cover ;
	background-repeat: no-repeat;
	margin: 0 auto;

 }

h1 {
	font-size: 36px;
    word-wrap: break-word;
	max-width: 200px;
}

.container-main {
	max-width: 320px;
	margin: 0 auto;
}

.flex-container-hero { 
   padding: 76px 52px;
   gap: 72px

}

}

@media screen and (min-width:768px) and (max-width: 1157px){
	.hero {
		background-color: var(--navy-blue);
	    background-image: linear-gradient(
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)
		),
		url("../images/People-office-bg2@2x.jpg");

	max-width: 768px;
	background-size: cover ;
	background-repeat: no-repeat;
	margin: 0 auto;
}
.container-main {
	max-width: 768px;
	margin: 0 auto;
}
.flex-container-hero { 
    padding: 122px 146px;
    gap: 36px;

}

h1 {
	word-wrap: break-word;
	max-width: 500px;
}

}



.btn {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.04em;
	color: var(--white);
	background-color: var(--iris);
	border-radius: 4px;
	padding: 16px 32px;
	border: none;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
	color: var(--ocean);
}

/* section 2 */

.container-heading {
	width: 1158px;
	margin: 0 auto;
}

.main {
	padding: 120px 0;
}

@media screen and (max-width:767px){
.container-heading { 
	max-width:320px;
	padding: 0 16px;

	}

.main{
	padding: 96px 0 ;
}
	
}
@media screen and (min-width:768px) and (max-width:1157px){

.container-heading{
		width: 768px;
	
}
}

.article-heading {
	display: flex;
	gap: 24px;

	padding: 0;
	margin: 0;
}

@media screen and (max-width:767px){
.article-heading{
	display: flex;
	flex-direction: column;
	gap: 72px;
	
	}
}

@media screen and (min-width:768px) and (max-width:1157px){
.article-heading{
	display: flex;
	flex-wrap: wrap; 
	align-items: center;
	justify-content: center;
    gap: 24px; 
  
	}
}

@media screen and (min-width:768px) and (max-width:1157px){
.article-item{
	width: 350px;
}
}
.svg {
	border: 1px solid var(--light-slate);
	border-radius: 4px;
	background-color: var(--cloud);
	padding: 24px 100px;

	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width:768px) { 
	.svg {
	display: none;
}
	
}

@media screen and (min-width:768px) and (max-width:1157px) {
	.svg{
		display: none;

	}
}


.heading {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.02em;
	color: var(--navy-blue); 
	margin: 8px 0;	
}

@media screen and (max-width:1157px){
.heading{
	font-weight: 700px; 
    font-size:36px ;
	line-height: 111%;
}

}

.article {
	font-family: var(--font-family);
	font-weight: 400;  
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--slate);
	margin:0;
	
}

@media screen and (max-width:1157px) {
.article {
	font-weight: 500; 

}

}


/* section 3 */


.headline {
	background-color: var(--cloud);
	padding: 120px 0;
}

@media screen and (max-width:1157px){
	.headline {
		padding: 96px 0;

}
}

.container-headline {
	width: 1158px;
	padding: 10 10px;
	margin: 0 auto;
}
@media screen and (max-width:767px) {
.container-headline {
	max-width: 320px;
	padding: 0 79px;

	}
}
@media screen and  (min-width:768px) and (max-width:1157px) {
.container-headline{
	max-width: 768px;
		
	}
}
	
.team-member {

width: calc((100% - 72px) / 4);

} 

@media screen and (max-width:767px) {

.team-member{ 
	width:264px;
}
	
}

.main-heading,
.second-heading {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 36px;
	line-height: 111%;
	letter-spacing: 0.02em;
	color: var(--navy-blue);
	text-align: center;
}

.main-heading {
	margin: 0;
	margin-bottom: 72px;

}

.card,
.description {
	display: flex;
	align-items: center;
	justify-content: center;
}
.profile-box{
	padding: 32px 0;
}
.card {
	/* /* margin: 0 0 8px; */
	/* padding: 32px 0 0; */ */
}

.description {
	margin: 0 0 8px;
	/* padding-bottom: 32px;	 */
}

.item-list {
	display: flex;
	gap: 24px;
	margin: 0;
	padding: 0;
}
@media screen and (max-width:767px) {
	.item-list{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
}
@media screen and  (min-width:768px) and (max-width:1157px){
	.item-list{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap:24px;
	}
}


.team-member {
	background-color: var(--white);
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
		0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
@media screen and (min-width:768px) and (max-width:1157px){
	.team-member{
		width: 350px;
	}
}

.media {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	padding: 0;

}

.social-icon {
	background-color: var(--iris);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* section 4 */

.second-headline {
	padding: 120px 0;
}

.container-second-headline {
	width: 1158px;
	margin: 0 auto;
}



@media screen and (max-width:767px) {
	.container-second-headline{
		max-width: 320px;
		padding: 0 12px;
}
	.second-headline{
		padding: 96px 0 ;
}

}
@media screen and  (min-width:768px)and (max-width:1157px) {
	.container-second-headline{
		max-width:768px
	}
}

	
.second-heading {
	margin-bottom: 72px;
}

.item-second-list {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	margin: 0;
	padding: 0;

}
@media screen and  (max-width:767px){
	.item-second-list{
		flex-direction: column;
		gap: 48px;
		padding: 0 16px;
	
	}
	
}
@media screen and (max-width:767px){
	.picture{width: 288px;}
}

@media screen and (min-width:768px)and (max-width:1157px){
	.item-second-list{
		padding: 0 12px;
	}
}

@media screen and  (min-width:768px)and(max-width:1157px){
	.picture{width:356px ;}
}

.list {
	width: calc((100% - 48px) / 3);
}

@media screen and  (min-width:768px)and (max-width:1157px) {
	.list{
		width: calc((100% - 24px) / 2);
		
	}
	
}
@media screen and (max-width:767px){
	.list{width:275px}
	
}

.item {
	border: 1px solid var(--cornflower);
	border-top: none;
	background: var(--white);
	padding: 32px 16px;
	/* margin: 8px 0; */

	
}

	


.portfolio-overlay {
	position: relative;
	overflow: hidden;
}

.portfolio-overly-text {
	padding: 40px 32px;
	background-color: var(--iris);
	color: var(--cloud);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translatey(100%);
	transition: transform 250ms;
	margin: 0;
}

.list:hover .portfolio-overly-text {
	transform: translatey(0);
}
.cursor-list-shadow:hover {
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
		0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
	cursor: pointer;
}

/* .cursor-list-shadow {
	cursor: pointer;
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
} */

/* footer */

.footer {
	background-color: var(--navy-blue);
	padding: 100px 0;
}
@media screen and  (max-width:1157px){
	.footer{
		padding: 96px 0;
	}
}


.container-footer {
	width: 1158px;
	margin: 0 auto;
	padding: 0 15px;
}
@media screen and (max-width:767px){
	.container-footer{
		max-width: 320px;
		padding: 0 16px;
	}}
@media screen and (min-width:768px)and (max-width:1157px) {
	.container-footer{
		max-width: 768px;
		padding: 0 108px;

	}
}

.media-footer {
	gap: 16px;
}

.color-text {
	color: var(--cloud);
	word-wrap: break-word;
	width: 264px;
}


.second-icon {
	color: var(--cloud);
}

.second-logo {
	display: inline-block;
	margin-bottom: 16px;
}

.footer-flex {
	display: flex;
	align-items: baseline;
}
@media screen and (max-width:767px){
	.footer-flex{ 
		flex-direction: column;
	    align-items: center;


}
}

@media screen and (min-width:768px) and (max-width:1157px) {
	.footer-flex{
		flex-wrap: wrap;
}	
}

.margin-first-container {
	margin-left: 120px;
}
@media screen and (max-width:767px){
.margin-first-container { 

	padding-top: 72px;
	padding-right: 123px;

}
}
@media screen and (min-width:768px)and (max-width:1157px){
	.margin-first-container{
		margin-left: 24px; 
	}
}


.social-title {
	color: var(--white);
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;

	margin-bottom: 16px;
}

@media screen and (max-width:767px){
.social-title { 
	display: flex;
	align-items: center;
	justify-content: center;
}
}





.margin-second-container{
	margin-left: 80px;

}

@media screen and  (max-width:767px) {
	.margin-second-container{
		display: flex;
		flex-direction: column;
		
		padding: 0 16px;
		margin: 0;
	

}
	
}
@media screen and (min-width:768px)and (max-width:1157px){
.margin-second-container{
      margin: 0 ;
	}
}




.subscribe-title {
	letter-spacing: 0.02em;
    color: var(--white);


}



@media screen and (max-width:767px){
.subscribe-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 72px;




}
}
@media screen and (min-width:768px) and (max-width:1157px) {
	.subscribe-title {margin-top:72px;}
	
}



.newsletter-form{
	display: flex;
	gap: 24px;
}

@media screen and (max-width:767px) {
	.newsletter-form{
	
		flex-direction: column;
	

	

	}
}
	



.icon-email::placeholder{
	font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em; 
	color: var(--white);
	padding: 8px 16px;
	
}

.icon-email {
background-color:var(--navy-blue);
border: 1px solid var(--white);
border-radius: 4px;
width: 264px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
opacity: 0.3;

}
	@media screen and (max-width:767px) {
	.icon-email{
		width: 288px;
	}
}

.subscribe-btn {
	position: relative;
	background: var(--iris);
	border-radius: 4px;
	border: none;
	padding: 8px 24px;
	width: 165px;
	height: 40px;

	
	}
	@media screen and  (max-width:767px) {
		.footer-btn{
			display: flex;
			align-items: center;
			justify-content: center;


	}
		
	}


	
.svg-btn{
	position: absolute;
	top: 10px;
	left: 117px;

}

.subscribe-text {
letter-spacing: 0.04em;
color: var(--white);
padding: 8px 24px 8px 0 ;
margin-right: 16px;



}



/* okno modalalne  */

.backdrop{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:var(--navy-blue-modal);
	/* opacity: 0; */
	visibility: hidden;
	pointer-events: none;
	

}

.modal {

	position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
	width: 408px;
	min-height: 584px;
	background-color:var(--dairy);
	border-radius: 4px;
	padding:24px 37px 24px 11px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
} 


.backdrop.is-open{
	/* opacity: 1; */
	visibility: visible;
	pointer-events: auto;
}

 @media screen and  (max-width:767px) {

.modal {
	width: 288px;
	height: 623px;
	padding: 16px 16px 20px 16px;
}
	
	
}
/* Właściwości   */

 .button-header {
	display: flex;
	justify-content: flex-end;

	padding-left: 24px;
	padding-bottom: 24px;

}

 .modal-btn , .btn-mobile-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
	border-radius: 50%;
	border: 1px solid  rgba(0, 0, 0, 0.1);
	background-color: var(--cornflower);

	
}

.modal-title {

letter-spacing: 0.02em;
text-align: center;
color: var(--navy-blue);
margin: 0; 
padding-bottom: 16px;


}
.modal-size{
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
}


	


.modal-form{

	font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    /* margin-left: auto; */
	
}
.input{

	border: 1px solid var(--navy-blue-modal);
	border-radius: 4px;
	width: 360px;
	height: 40px;

}
@media screen and (max-width:767px){
	.input{ 
	     width: 256px;
        height: 40px;
	}
}

.textarea{
	border: 1px solid var(--navy-blue-modal);
	border-radius: 4px;
	width: 360px;
	height: 120px;
	margin-top: 4px;
	padding-top: 8px;
	padding-left: 16px;

}


textarea::placeholder{
	color: var(--navy-blue-modal);
	
}
textarea {
	resize: none;
}

@media screen and (max-width:767px) {
	.textarea {
	    width: 256px; 
	    height:120px;
	}
	
}
.input-wrapper {
	position: relative;


}
.name {
	margin-top: 4px;
    margin-bottom: 8px;}

.phone{
	margin-top: 4px;
	margin-bottom: 8px ;
}
.email{
	margin-top: 4px;
	margin-bottom: 8px ;

}
.input-icon{
	position: absolute;
	left: 16px;
	bottom: 8px;
}
.modal-item{
	display: flex;
	align-items: center;
	margin-top: 16px ;
	
	
}


.privacy-link{
	line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--iris);
	margin-left: 4px;
}

.input-checkbox {
   margin-right: 8px;
}

@media screen and (max-width:767px){
.modal-item {
   display: flex;
   flex-wrap: wrap;	
}

.input-checkbox{ 
	position: relative;
    top: 7.5px;
    left: 0;
}

.privacy-link {
	margin-left: 22px;
}

}

.submit-btn{
	background: var(--iris);
	border-radius: 4px;
	border: none;
    padding: 16px 32px;
	width: 169px;
    height: 56px;
    margin-top: 24px; 
	margin-left: 95px;
	margin-right: 96px ;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

}
@media screen and (max-width:767px){
	.submit-btn{
	margin-left: 60px; 

}
}

.btn-span{
	letter-spacing: 0.04em;
    text-align: center;
    color: var(--white);

}

       /* Mobile */

.hamburger {
	width: 24px;
	height: 24px;
	background-color: transparent;
	border: 0;
	padding: 4px 5px ;
    display: none;
}

.mobile-menu.is-mobile-open{
	visibility: visible;
	transform: translateX(0);

}

.mobile-menu {


position: fixed;
top:0 ;
left:0;
width: 100%;
height: 100%;
background:var(--white);
z-index: 999;
padding: 24px 16px ;
visibility: hidden;

display: flex;
flex-direction: column;

transform: translateX(100%);
transition: transform 250ms ease-in-out; 
}

.btn-mobile-close {
position: relative;
top:24px;
left: 270px;
			
margin-bottom: 24px;


}


.mobile-list{

font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;

display: flex;
flex-direction: column;
gap:40px;



}
.mobile-link-studio{
	color: var(--ocean);

	

}

.mobile-link{
	color: var(--navy-blue)
}


.info-feature{
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: var(--slate);


}

.mobile-info {
	display: flex;
	flex-direction: column;
	gap: 24px;


}

.mobile-contacts{
	margin-top: 80px;
}
	
.mobile-mail {
	color: var(--iris);
	
}
.mobile-contact{
	color: var(--slate);

}

.mobile-social-list{
	display: flex;
	align-items: center; 
	align-items: baseline;
	gap: 40px;
	margin-top: auto;
}


.mobile-icon-list{
    background-color: var(--iris);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

}


@media screen and (max-width:767px){
.container {
	width: 320px;
	padding: 0 15px;
	margin: 0 auto;}



    header {
		padding: 16px 0;
	}
	.navigation-list, 
	.contacts{ 
		display: none
	}

	.hamburger {
    display: block;
  }
}

@media screen and (min-width:767px) {
	.navigation-list,
    .info {
		display:flex 
	}
	
}

