:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--slate: #434455;
	--cloud: #f4f4fd;
	--white: #fff;
	--cornflower: #e7e9fc;
	--light-slate: #8e8f99;
	--grey: rgba(46, 47, 66, 0.7);
	--font-family: 'Roboto', sans-serif;
	--second-family: 'Raleway', sans-serif;
}

/* general */
body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
	color: #434455;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
img {
	width: 100%;
	height: auto;
	display: block;
}

/* header */

.flex-container {
	display: flex;
	align-items: center;
}

.container {
	width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

.logo,
.second-logo {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 117%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--iris);
}

.icon {
	color: var(--navy-blue);
}

.link:hover,
.link:focus {
	color: var(--ocean);
}

.navigation {
	display: flex;
	align-items: center;
	margin-right: auto;
}

.navigation-list {
	display: flex;
	gap: 40px;
	margin: 0 0 0 76px;
	padding: 24px 0;
}

.navigation-list a {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--navy-blue);
}

.info {
	display: flex;
	gap: 40px;
}

.info a {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--slate);
	font-style: normal;
}

.mail:hover,
.mail:focus {
	color: var(--ocean);
}

.contact:hover,
.contact:focus {
	color: var(--ocean);
}

/* main */

/* section 1 */

.hero {
	background-color: var(--navy-blue);
	background-image: linear-gradient(
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)
		),
		url(../images/People-office-bg.jpg);
	max-width: 1440px;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.container-main {
	width: 1158px;
	padding: 10px 10px;
	margin: 0 auto;
}

.flex-container-hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 188px 0;
	gap: 48px;
}

h1 {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 56px;
	line-height: 107%;
	letter-spacing: 0.02em;
	color: var(--white);
	word-wrap: break-word;
	width: 496px;
	text-align: center;
	margin: 0;
}

.btn {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.04em;
	color: var(--white);
	background-color: var(--iris);
	border-radius: 4px;
	padding: 16px 32px;
	border: 1px solid #000;
}

.btn:hover,
.btn:focus {
	color: var(--ocean);
}

/* section 2 */

.container-heading {
	width: 1158px;
	margin: 0 auto;
}

.main {
	padding: 120px 0;
}

.article-heading {
	display: flex;
	gap: 24px;

	padding: 0;
	margin: 0;
}

.svg {
	border: 1px solid var(--light-slate);
	border-radius: 4px;
	background-color: var(--cloud);
	padding: 24px 100px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.heading {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.02em;
	color: var(--navy-blue);
	padding: 8px 0;
	margin: 0;
}

.article {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--slate);
	margin: 0;
}

.team-member {
	width: calc((100% - 72px) / 4);
}

/* section 3 */

.headline {
	background-color: var(--cloud);
	padding: 120px 0;
}

.container-headline {
	width: 1158px;
	padding: 10 10px;
	margin: 0 auto;
}

.main-heading,
.second-heading {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 36px;
	line-height: 111%;
	letter-spacing: 0.02em;
	color: var(--navy-blue);
	text-align: center;
}

.main-heading {
	margin-bottom: 72px;
}

.card,
.description {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	margin: 0 0 8px;
	padding: 32px 0 0;
}

.description {
	margin-bottom: 8px;
	/* padding-bottom: 32px;	 */
}

.item-list {
	display: flex;
	gap: 24px;
	margin: 0;
	padding: 0;
}

.team-member {
	background-color: var(--white);
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
		0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.media {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	padding-bottom: 32px;
}

.circle {
	background-color: var(--iris);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* section 4 */

.second-headline {
	padding: 120px 0;
}

.container-second-headline {
	width: 1158px;
	margin: 0 auto;
}

.flex-container-headline {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.second-heading {
	margin-bottom: 72px;
}

.item-second-list {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	margin: 0;
	padding: 0;
}

.list {
	width: calc((100% - 48px) / 3);
	width: 360px;
}

.item {
	padding: 32px 16px;
	border: 1px solid var(--cornflower);
	border-top: none;
	background: var(--white);
}

.portfolio-overlay {

}

.portfolio-overly-text {
	background-color: var(--iris);
	padding: 40px 32px 164px 32px;
	margin: 0;
}

/* footer */

.footer {
	background-color: var(--navy-blue);
	padding: 110px 166px;
}

.text {
	color: var(--cloud);
	margin: 0;
	word-wrap: break-word;
	width: 264px;
	height: 300px;
}

.second-icon {
	color: var(--cloud);
}

.container-footer {
	width: 1158px;
	/* margin:  0 auto; */
	padding: 10px 10px;
}

.second-logo {
	display: inline-block;
	margin-bottom: 16px;
}
